html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 80px;
  text-align: center;
}

h3 {
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

label{
  font-size: 1.5em;
}
text{
  font-size: 2.5em;
  /*position: fixed;;*/
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
h2 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
h3 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  /*text-align: left;*/
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}
tr:nth-child(odd) {
  background-color: #EEEDE7;
}
.datacontent {
  display: none;
}

.table {
  width: 50%;
  margin: 10px auto;
}


#wrapper {
    border: 1px;
}
.center {
display: flex;
justify-content: center;
}

#A1 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg); 
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#A2 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
}
#A3 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#A4 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
}
#A5 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#A6 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
}
#A7 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
}
#A8 {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(20deg);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#A9 {
    display: inline-block;
    background-color: lightblue;
    width: 400px;
    height: 200px;
    border: 3px solid black;
}

circle {
    width: 150em;
    height: 150em;
    border-radius: 40%;
    background-color: white;
    border: 40px solid #fff;
    box-shadow: 0 0 0 8px red;
}

circle2 {
    width: 150em;
    height: 150em;
    border-radius: 40%;
    background-color: white;
    border: 40px solid #fff;
    box-shadow: 0 0 0 8px green;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}

.inputbox {
  padding: 15px 8px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}


